header {    
    margin: 0 auto;    
    position: relative;
    text-align: center;
}
.menu-opcoes ul li {
    display: inline; /*reoordena cadas topico da lista horizontalmente*/
    margin-left: 50px;
    
}

.menu-opcoes ul {
    font-size: 15px;    
}

.menu-opcoes a {
    color: #003366;
}
.menu-opcoes{    
    text-align: right;   
    background-color: #98FB98;
    padding: 5px;
    
}

