body{
    color: #333333;    
}

.sugestões ul li {
    display: inline; /*reoordena cadas topico da lista horizontalmente*/
    margin-left: 20px;
}

.sugestões ul {
    font-size: 15px
}

.sugestões a {
    color: #003366;
}
.sugestões{
    text-align: center;    
    margin-top: 10px;
}

.sugestões btn btn-info{
    padding: 20px;
}

.pesquisar{    
    font-weight: bold;  
    text-align: center;
    
}

.telaPesquisa{
    background-color: aliceblue;
    padding: 200px;
    position: relative;
    margin: 0 auto;
    width: 940px;
}


